<div class="result-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friend %>
  <div class="card card-header results-block">
    <strong>Email: </strong> <% @friend %>
    <strong>Name: </strong> <% @friend %>
    <strong>Price: </strong> <% @friend %>
    <%= link_to 'follow friend?', '#', class: "btn btn-sm btn-success", method: :post %>
  </div>
<% end %>



<!--<#% if @friends %>-->
<!--  <div class="card card-header results-block">-->
<!--    <#% @friends.each do |friend| %>  -->
<!--      <strong>Name: </strong> <#%= friend.full_name %>-->
<!--      <strong>Email: </strong> <#%= friend.email %>-->
<!--      <strong>Profile: </strong> <#%= link_to 'View Profile', '#', class: "btn btn-sm btn-success"  %>-->
<!--      <#%= link_to 'Follow friend?', '#', class: "btn btn-sm btn-success", method: :post %>-->
<!--    <#% end %>-->
<!--  </div>-->
<%# end %>